/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html, body{
    background-color: black;
    color: whitesmoke;
}
 

h1{
    /* width:100%;
    margin: 0;
    padding: 0; */
    top: 50%;
    color: whitesmoke;
    /* font-family: sans-serif;
    font-size: 40px;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh; */
}

#text-id {
  /* white-space: normal;      allow wrapping */
   word-break: keep-all;    /* don’t break inside words */
   overflow-wrap: normal;
  /* overflow-wrap: break-word;allow breaking between words if needed */
  /* text-align: center; */
  line-height: 1.4;
}

#text-id span {
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease;
    display: inline;
    vertical-align: baseline;
    /* font-size: 2rem; */
}

span.fade{
    opacity: 1;
    color:rgb(180, 29, 218);
} 


.resume{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 40%; 
}

.social-media-icon-white {
    font-size: 2rem;
    display: inline-block;
    margin: 0.3rem;
}

.social-media-icon-white a{
    color: whitesmoke;

}
/* .social-media-icon-white a:hover {
    color: rgb(130, 22, 219);
    color:rgb(180, 29, 218);
    cursor: pointer;
} */

.social-media-icon-white a abbr:hover {
    /* color: rgb(130, 22, 219); */
    color:rgb(180, 29, 218);
    cursor: pointer;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30%; /* Height of the footer */
 }